# Ignore the .vscode folder (local editor settings)
.vscode/

# Ignore the config file (sensitive or environment-specific data)
config/
config.*

# Ignore the .gitignore file itself
.gitignor

**/__pycache__/

repoenv/
repoenv/*

repoenv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.log
.env

D:\Repocoder\repocoder\repoenv\Lib\site-packages\filelock\__init__.py
